.c4-board {

    margin-bottom: $cell-height * .25;
    cursor: pointer;

    &__backing {
        fill: $frost-color;
    }

    &__mask-bg {
        fill: white;
    }
    &__circle-mask {
        fill: black;
    }

    &__frost-top {
        fill: white;
    }

}
