
.c4-board {

    margin-bottom: $cell-height * .25;
    cursor: pointer;

    &__backing {
        fill: $frost-color;
    }

    &__mask-bg {
        fill: white;
    }

    &__coin--p1 {
        fill: $red-straight;
    }
    &__coin--p2 {
        fill: $blue-straight;
    }

}

rect {
    fill: black;
}

circle {
    fill: black;
}

path {
    fill-rule: evenodd;
}
