
*,
*::after,
*::before {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   // 1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: $p-size;

}
input, select, textarea, button {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

h1 {
    font-size: $h1-size;
    font-weight: normal;
}
h2 {
    font-size: $h2-size;
    font-weight: normal;
}
h3 {
    font-size: $h3-size;
    font-weight: bold;
}
h4 {
    font-size: $h4-size;
    font-weight: normal;
}
h5 {
    font-size: $h5-size;
    font-weight: normal;
}

a, a:visited, a:active {

}

button {
    cursor: pointer;
}
