
$p-size: 1.6rem;
$h1-size: $p-size * 2.35;
$h2-size: $p-size * 2;
$h3-size: $p-size * 1.7;
$h4-size: $p-size * 1.4;
$h5-size: $p-size * 1.2;

$board-width: 120rem;
$board-height: $board-width * (6/7);
$cell-height: $board-height / 6;
