<div class="two-p-interface">
    <!-- <input type="text" ng-model="coord">
    <button ng-click="onMove()">
        Move
    </button> -->
    <div class="two-p-interface__side two-p-interface__side--red">
        <h1 ng-class="{'two-p-interface__label': true,
                       'two-p-interface__label--red': true,
                       'two-p-interface__label--red-disabled': isDisabled}">
                <!-- {{$ctrl.p1Name}} -->
                Jen
            </h1>
    </div>
    <div class="two-p-interface__side two-p-interface__side--blue">
            <h1 ng-class="{'two-p-interface__label': true,
                           'two-p-interface__label--blue': true,
                           'two-p-interface__label--blue-disabled': isDisabled}">
                <!-- {{$ctrl.p2Name}} -->
                Mike
            </h1>
    </div>
</div>
