<div class="two-p-entry-form" ng-show="$ctrl.isShow">
    <form class="two-p-entry-form__form" ng-submit="onSubmit()">

        <h3 class="two-p-entry-form__label">
            Player 1:
        </h3>
        <input type="text" class="two-p-entry-form__input"
               ng-model="p1Name">

        <h3 class="two-p-entry-form__label">
            Player 2:
        </h3>
        <input type="text" class="two-p-entry-form__input"
               ng-model="p2Name">

        <button type="submit" class="two-p-entry-form__btn-submit">
            Start
        </button>

    </form>
</div>
